RHT_OCP4_MASTER_API=https://api.na410r.prod.ole.redhat.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.na410r.prod.ole.redhat.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.na410r.prod.ole.redhat.com
RHT_OCP4_DEV_USER=ejmzxn
RHT_OCP4_DEV_PASSWORD=424e58e99202400380ea
RHT_OCP4_GITHUB_USER=EdgarRueda
RHT_OCP4_QUAY_USER=edgar_rueda
